workflows/This Lead Generation AI Agent Scrapes Unlimited Leads For FREE (3).json
{
  "name": "This Lead Generation AI Agent Scrapes Unlimited Leads For FREE",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Input: { html, website, keyword, location }\n// Output: { html, website, keyword, location, phone }\n\nconst html = String($json.html || '');\nconst flat = html.replace(/\\s+/g, ' ');\n\n// ---------- helpers ----------\nconst onlyDigits = s => (s || '').replace(/\\D/g, '');\nconst hasSep = s => /[()\\s\\-\\.]/.test(s || ''); // any separator\nconst balancedParens = s => {\n  const opens = (s.match(/\\(/g) || []).length;\n  const closes = (s.match(/\\)/g) || []).length;\n  return opens === closes;\n};\nconst lowVariety = s => {\n  const d = onlyDigits(s);\n  const uniq = new Set(d.split(''));\n  return d.length >= 9 && uniq.size <= 2; // e.g., 999999999, 111111111, 90909090\n};\nconst looksLikeImageSize = s => /\\d{2,4}x\\d{2,4}/i.test(s); // 300x200\nconst hasDecimal = s => /\\d\\.\\d/.test(s);                    // 144.9703\nconst tooLongBareRun = s => {\n  const d = onlyDigits(s);\n  return d.length > 13 || (!s.startsWith('+') && d.length >= 12 && !hasSep(s));\n};\nfunction normalize(s) {\n  return (s || '').replace(/\\s+/g, ' ').trim();\n}\nfunction valid(s, isGeneral = false) {\n  if (!s) return false;\n  if (hasDecimal(s)) return false;\n  if (looksLikeImageSize(s)) return false;\n  if (!balancedParens(s)) return false;\n  if (lowVariety(s)) return false;\n  if (tooLongBareRun(s)) return false;\n\n  const d = onlyDigits(s);\n  if (d.length < 8 || d.length > 15) return false; // global-ish bounds\n\n  // For general matches, require at least one separator unless it starts with +\n  if (isGeneral && !s.startsWith('+') && !hasSep(s)) return false;\n\n  // Reject obvious placeholders\n  if (/999[\\s\\-]?999[\\s\\-]?9999|000+/.test(d)) return false;\n\n  return true;\n}\n\n// ---------- 1) tel: links (best) ----------\nconst telMatches = [...flat.matchAll(/href=[\"']tel:([+()\\d\\-\\s\\.]+)/gi)]\n  .map(m => normalize(m[1]));\n\n// ---------- 2) numbers near \"phone/tel/call\" ----------\nconst labeled = [];\nconst labelRe = /(?:phone|tel|telephone|call)[:\\s]*(?:<\\/?[^>]*>|\\s){0,16}([+()\\d\\-\\s\\.]{7,30})/gi;\nlet lm;\nwhile ((lm = labelRe.exec(flat)) !== null) labeled.push(normalize(lm[1]));\n\n// ---------- 3) general fallback ----------\nconst generalRaw = flat.match(/(?:\\+?\\d{1,4}[\\s\\-\\.]?)?(?:\\(?\\d{2,4}\\)?[\\s\\-\\.]?)\\d{3,4}[\\s\\-\\.]?\\d{3,4}(?:[\\s\\-\\.]?\\d{1,4})?/g) || [];\nconst general = generalRaw.map(normalize).filter(s => valid(s, true));\n\n// ---------- de-dup (priority: tel > labeled > general) ----------\nconst seen = new Set();\nconst ordered = [];\nfor (const arr of [telMatches, labeled, general]) {\n  for (const s of arr) {\n    if (!valid(s, arr === general)) continue;\n    const key = onlyDigits(s);\n    if (seen.has(key)) continue;\n    seen.add(key);\n    ordered.push(s);\n  }\n}\n\nlet phone = ordered[0] || 'No phone listed';\n\n// Force Sheets to treat phone as text (avoid \"+1-800...\" becoming math)\nif (phone !== 'No phone listed' && phone.startsWith('+')) {\n  phone = `'` + phone;\n}\n\nreturn [{ json: { ...$json, phone } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        576
      ],
      "id": "421b4236-b558-4714-bdc8-8d11d090c362",
      "name": "Extract Phone Number",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "function toStr(x){ \n  if (x && typeof x.data === 'string') return x.data;\n  if (x && typeof x.body === 'string') return x.body;\n  return String(x ?? '');\n}\nconst home = toStr($node[\"Scrape Specific URLs\"].json);\nconst c1   = toStr($node[\"Contact Page 1\"].json);\nconst c2   = toStr($node[\"Contact Page 2\"].json);\n\nconst website  = $item(0).$node[\"Loop Over Items\"].json.website || \"\";\nconst keyword  = $node[\"Get Form Data\"].json?.Keyword  ?? \"\";\nconst location = $node[\"Get Form Data\"].json?.Location ?? \"\";\n\nreturn [{ json: { html: home + \"\\n\" + c1 + \"\\n\" + c2, website, keyword, location } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        576
      ],
      "id": "04937d72-d26c-48fa-947d-a1afbe7fe8a7",
      "name": "Combine HTML Code"
    },
    {
      "parameters": {
        "method": "=GET",
        "url": "={{ $('Loop Over Items').item.json.website.replace('http://','https://').replace(/\\/$/, '') + '/contact' }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        560,
        576
      ],
      "id": "f2b2777f-95df-42d9-a857-6ee7e73967f8",
      "name": "Contact Page 2",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{ $('Loop Over Items').item.json.website.replace('http://','https://').replace(/\\/$/, '') + '/contact' }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        576
      ],
      "id": "f8d53d4f-c6a6-4376-ade5-ef1b87634346",
      "name": "Contact Page 1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        192,
        576
      ],
      "id": "d4757331-7e16-4014-83ba-471fb8609708",
      "name": "Wait1",
      "webhookId": "e2d9b41a-e4ff-4e45-bc72-d23f3f21151b"
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2480,
        576
      ],
      "id": "0cee8371-6be0-44c8-bcfc-1299b873a3fb",
      "name": "Wait",
      "webhookId": "f549954f-9e88-451e-b159-7ff47e733a25"
    },
    {
      "parameters": {
        "url": "={{ $json.website }}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        576
      ],
      "id": "13b165e7-7eae-43f4-98d7-6941748b5cfb",
      "name": "Scrape Specific URLs",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "YOUR_API_KEY",
          "mode": "list",
          "cachedResultName": "Leads Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jxIxDNdkU1Z4dhXd0TAOSs93iSqw3VU0Q7v_EFLMnzE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "YOUR_API_KEY",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jxIxDNdkU1Z4dhXd0TAOSs93iSqw3VU0Q7v_EFLMnzE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Website": "={{ $('HTTP Request').item.json.website }}",
            "Address": "={{ $('HTTP Request').item.json.address }}",
            "City": "={{ $('HTTP Request').item.json.city }}",
            "State": "={{ $('HTTP Request').item.json.state }}",
            "PostalCode": "={{ $('HTTP Request').item.json.postalCode }}",
            "Phone": "={{ $('Extract Phone Number').item.json.phone }}",
            "Reviews": "={{ $('HTTP Request').item.json.reviewsCount }}",
            "GoogleMapsURL": "={{ $('HTTP Request').item.json.url }}",
            "ScrapedAt": "={{ $('HTTP Request').item.json.scrapedAt }}",
            "Country": "={{ $('HTTP Request').item.json.countryCode }}",
            "Category": "={{ $('HTTP Request').item.json.categoryName }}",
            "BusinessName": "={{ $('HTTP Request').item.json.title }}",
            "Location": "={{ $('Get Form Data').item.json.Location }}",
            "Email": "={{ $('Extract Emails').item.json.email }}",
            "Keyword": "={{ $('Get Form Data').item.json.Keyword }}"
          },
          "matchingColumns": [
            "Website"
          ],
          "schema": [
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Keyword",
              "displayName": "Keyword",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "BusinessName",
              "displayName": "BusinessName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City",
              "displayName": "City",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "State",
              "displayName": "State",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PostalCode",
              "displayName": "PostalCode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Country",
              "displayName": "Country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reviews",
              "displayName": "Reviews",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "GoogleMapsURL",
              "displayName": "GoogleMapsURL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ScrapedAt",
              "displayName": "ScrapedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2320,
        576
      ],
      "id": "e7ce46d7-e95e-4fb3-88d8-2cfcf2e0cf43",
      "name": "Add to Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VpFrhSwn3WM1L26V",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2592,
        144
      ],
      "id": "26be3016-4087-44d9-b762-3945618ed451",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Input: { html, website, keyword, location, phone }\n// Output: exactly ONE row per website (emails aggregated)\n\n// --- read + normalize ---\nlet html = String($json.html ?? $json ?? \"\");\n\n// decode simple obfuscations and entities\nhtml = html\n  // zero-width chars\n  .replace(/[\\u200B-\\u200D\\u2060\\uFEFF]/g, \"\")\n  // [at]/(at)/ \" at \"\n  .replace(/\\s*\\[at\\]\\s*|\\s*\\(at\\)\\s*|\\s+at\\s+/gi, \"@\")\n  // [dot]/(dot)/ \" dot \"\n  .replace(/\\s*\\[dot\\]\\s*|\\s*\\(dot\\)\\s*|\\s+dot\\s+/gi, \".\")\n  // HTML entities for @ and .\n  .replace(/&#x40;|&#64;|&commat;/gi, \"@\")\n  .replace(/&#46;|&period;/gi, \".\")\n  // spacing around @ and .\n  .replace(/\\s+@\\s+/g, \"@\")\n  .replace(/\\s+\\.\\s+/g, \".\");\n\n// --- collect candidates ---\nconst mailtos = (html.match(/mailto:([a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,24})/gi) || [])\n  .map(m => m.replace(/^mailto:/i, \"\"));\nconst plain = (html.match(/[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,24}/gi) || []);\nlet emails = Array.from(new Set([...mailtos, ...plain].map(e => e.toLowerCase().trim())))\n  .map(e => e.replace(/[),;:'\"]+$/g, \"\")); // trim trailing punctuation\n\n// --- validators/filters (roles allowed) ---\nconst strict = /^[a-z0-9](?:[a-z0-9._%+-]{0,62}[a-z0-9])@(?:[a-z0-9-]+\\.)+[a-z]{2,24}$/i;\nconst assetTLD = new Set([\n  \"png\",\"jpg\",\"jpeg\",\"gif\",\"svg\",\"webp\",\"ico\",\"bmp\",\"apng\",\"avif\",\n  \"pdf\",\"css\",\"js\",\"map\",\"woff\",\"woff2\",\"ttf\",\"otf\",\"mp4\",\"webm\",\"mov\",\"mkv\",\"heic\",\"heif\"\n]);\nconst denyTrackerDomains = /(ingest\\.sentry\\.io|\\.sentry\\.io|cloudflare\\.com|cloudfront\\.net|googlemail\\.com|w3\\.org)$/i;\nconst denyPlaceholderDomains = /(domain\\.com|example\\.(com|org|net)|yourdomain\\.com|email\\.com|test\\.com|localhost|invalid)$/i;\nconst denyPlaceholderPairs   = /^(user|username|name|yourname|firstname|lastname|test|demo)@(domain\\.com|example\\.com|yourdomain\\.com|test\\.com|email\\.com)$/i;\n// tokens like @2x or -300x200 in the domain\nconst sizeTokenInDomain = /(@\\d+(?:\\.\\d+)?x)|(?:^|[.\\-])\\d+(?:\\.\\d+)?x\\d+(?:\\.\\d+)?(?:[.\\-]|$)/i;\n// reject “hashy” locals like 5f12ad6e7261...\nconst isHashyLocal = (local) => /^[a-f0-9]{20,}$/.test(local);\n\n// filter sequence\nemails = emails\n  .filter(e => strict.test(e))\n  .filter(e => {\n    const dom = (e.split(\"@\")[1] || \"\");\n    const tld = (dom.split(\".\").pop() || \"\").toLowerCase();\n    return !assetTLD.has(tld);\n  })\n  .filter(e => !denyTrackerDomains.test((e.split(\"@\")[1] || \"\")))\n  .filter(e => {\n    const [local, dom] = e.split(\"@\");\n    return !denyPlaceholderDomains.test(dom || \"\") && !denyPlaceholderPairs.test(e) && !isHashyLocal(local || \"\");\n  })\n  .filter(e => !sizeTokenInDomain.test(e.split(\"@\")[1] || \"\"));\n\n// --- attach meta ---\nconst website  = $json.website  || ($item(0).$node[\"Loop Over Items\"].json.website || \"\");\nconst keyword  = $json.keyword  || ($node[\"Get Form Data\"].json?.Keyword  ?? \"\");\nconst location = $json.location || ($node[\"Get Form Data\"].json?.Location ?? \"\");\nconst phoneRaw = $json.phone || '';\nconst phone    = phoneRaw || 'No phone listed';\n\n// --- aggregate to ONE row per website ---\nconst uniq = Array.from(new Set(emails));\nlet emailCell = \"\";\n\nif (uniq.length > 0) {\n  emailCell = uniq.join(\", \");\n} else if (phoneRaw && phoneRaw !== 'No phone listed') {\n  // leading apostrophe forces literal text in Sheets (prevents formula parsing)\n  emailCell = `'Phone only: ${phoneRaw} — please double-check on the website before calling, or use the contact form`;\n} else {\n  emailCell = `'No email — use the website contact form`;\n}\n\nreturn [{\n  json: {\n    email: emailCell,\n    website,\n    keyword,\n    location,\n    phone\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        576
      ],
      "id": "37c01159-1d40-4028-bbc6-6e46c3ac6481",
      "name": "Extract Emails",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "formTitle": "Lead Generation AI Agent – Free Google Maps Scraper",
        "formDescription": "Enter your lead search details below and click Submit to start scraping.\nThe AI Agent will find businesses from Google Maps, visit their websites, and collect publicly available emails automatically.\nAll results are saved in your connected Google Sheet — no paid APIs or sign-ups needed.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Business Type / Keyword",
              "placeholder": "Dentist",
              "requiredField": true
            },
            {
              "fieldLabel": "Location",
              "placeholder": "Melbourne",
              "requiredField": true
            },
            {
              "fieldLabel": "Max Items",
              "fieldType": "number",
              "placeholder": "20",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        80,
        144
      ],
      "id": "fef489c5-2a8d-45b0-a234-8721db6c5c62",
      "name": "On form submission",
      "webhookId": "353e401f-3f7d-4026-841e-a67ffc7a126d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "eca1ce5d-e181-4feb-a1e5-7041fa66ea81",
              "name": "Keyword",
              "value": "YOUR_API_KEY",
              "type": "string"
            },
            {
              "id": "48cfcd1d-8aef-4463-b62d-0b3dbdad6e28",
              "name": "Location",
              "value": "YOUR_API_KEY",
              "type": "string"
            },
            {
              "id": "34af16e5-d022-4d23-9d39-889e1f79c9c0",
              "name": "Max Items",
              "value": "YOUR_API_KEY",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        144
      ],
      "id": "9448a6f1-d4fc-4c10-8224-542d07bbe57d",
      "name": "Get Form Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/compass~crawler-google-places/run-sync-get-dataset-items",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "YOUR_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "YOUR_API_KEY"
            },
            {
              "name": "Accept",
              "value": "YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"language\": \"en\",\n  \"locationQuery\": \"{{$json.Location}}\",\n  \"searchStringsArray\": [\n    \"{{$json.Keyword}}\"\n  ],\n  \"maxCrawledPlacesPerSearch\": {{ Number($json[\"Max Items\"]) }}\n}",
        "options": {
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        544,
        144
      ],
      "id": "ba98007c-bb1f-4573-9359-65e050303ed0",
      "name": "HTTP Request",
      "notesInFlow": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "YOUR_API_KEY"
            },
            {
              "name": "Content-Type",
              "value": "YOUR_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"q\":\"site:{{$json.website.replace('https://','').replace('http://','').replace('/','')}} owner OR founder OR CEO\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1248,
        576
      ],
      "id": "904d1512-94ce-41ba-aeee-18fa635a7f26",
      "name": "Google Search CEO"
    },
    {
      "parameters": {
        "jsCode": "const results = $json.organic || [];\n\nlet linkedin = \"\";\nlet ceo = \"\";\n\nfor (const r of results){\n\nif(r.link.includes(\"linkedin.com/in\")){\n\nlinkedin=r.link;\n\nceo=r.title;\n\nbreak;\n\n}\n\n}\n\nreturn [{\n\njson:{\n\n...$json,\n\nceoLinkedIn:linkedin,\n\nceoName:ceo\n\n}\n\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        576
      ],
      "id": "9f4327a3-5c47-49fc-af6d-3c45c2157b8b",
      "name": "Extract LinkedIn"
    },
    {
      "parameters": {
        "url": "={{$json.ceoLinkedIn}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1872,
        576
      ],
      "id": "40034e82-67aa-426d-92e1-14a575987948",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: $json\n  }\n];\n\nconst html = $json.html || '';\n\nconst phoneMatch = html.match(/\\+?\\d[\\d\\s().-]{7,20}/);\n\nreturn [\n  {\n    json: {\n      ...$json,\n      ceoPhone: phoneMatch ? phoneMatch[0] : \"\"\n    }\n  }\n]\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        576
      ],
      "id": "d91317d7-dce1-43ab-ad47-3f86328835cd",
      "name": "Regex"
    }
  ],
  "pinData": {},
  "connections": {
    "Combine HTML Code": {
      "main": [
        [
          {
            "node": "Extract Phone Number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Page 2": {
      "main": [
        [
          {
            "node": "Combine HTML Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Page 1": {
      "main": [
        [
          {
            "node": "Contact Page 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Contact Page 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Phone Number": {
      "main": [
        [
          {
            "node": "Google Search CEO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Specific URLs": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Scrape Specific URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Emails": {
      "main": [
        [
          {
            "node": "Add to Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Get Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Form Data": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Search CEO": {
      "main": [
        [
          {
            "node": "Extract LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract LinkedIn": {
      "main": [
        [
          {
            "node": "Regex",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Regex": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "3e30fa94-4534-46d9-9370-b71f37a0ed16",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fd162af6f0e224c57038ce0bb8213cc075ec7463dbd8e04f9ce1659a4747f4b7"
  },
  "nodeGroups": [],
  "id": "yrt8TeSdXfK8YotV",
  "tags": []
}